.header{
    color:white;
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 2rem 2rem 0.3rem 3rem;
    display: flex;

    .logo{
        img{
            height: 50px;
            width: 100%;
            object-fit: contain;
        }
    }

    .nav-bar{
        display: flex;
        gap: 2rem;
        margin-left: auto;
        align-items: center;
        padding-bottom: 1rem;
        background-color: black;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.2rem;
        font-weight: bold;

        .nav-bar-item{
            cursor: pointer;
        }
    }
}