.horizontal-text {
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
}

.Horizontal {
    overflow: hidden;
}

.Horizontal__text {
    display: flex;
    width: max-content;
    white-space: nowrap;
    gap: 4vw;
    padding-left: 100vw;
}

.heading-xl {
    font-size: clamp(2rem, 10vw, 12rem);
    font-weight: 600;
    line-height: 1.1;
}


@media (max-width: 480px) {
    .heading-xl {
        font-size: clamp(3rem, 12vw, 12rem);
    }
}